.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 20px;
}


.text-container {
    display: flex;
    justify-content: center;
}

.wave {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    animation: wave-animation 1s infinite ease-in-out;
    display: inline-block;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes wave-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
