<section class="hero" [style.background-image]="'url(' + heroSlides[heroSliderIndex].image + ')'">
  <div class="slider-dots">
    <span *ngFor="let slide of heroSlides; let i = index" class="dot" [class.active]="i === heroSliderIndex"
      (click)="heroSliderIndex = i"></span>
  </div>
</section>
<h2 class="section-title">BEST SELLERS</h2>
<section class="home-categories-nav">
  <ul>
    <li (click)="setCategory(1)" [ngClass]="{active: selectedCategory === 1}">For Men</li>
    <li (click)="setCategory(2)" [ngClass]="{active: selectedCategory === 2}">For Women</li>
  </ul>
</section>
<section class="featured-products">

  <div class="products-grid four-in-row">
    @for (product of filteredProducts; track product.name) {
    <div class="product-card" (click)="openModal(product)" style="cursor:pointer;">
      <img [src]="product.images[0]" [alt]="product.name" />
      <p> {{ product.name }}</p>
      <p> {{ product.description }}</p>
      <p> Rs {{ product.price | number }}</p>

      <div class="product-overlay">
        <i class="fa-solid fa-cart-shopping" style="color: white; font-size: 2rem;"></i>
        <p style="color: white;">Add to Cart</p>
      </div>
    </div>
    }
  </div>
</section>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="selectedProduct" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-x" (click)="closeModal()" aria-label="Close">&times;</button>
    <div class="modal-image">
      <img [src]="selectedProduct.images[selectedImageIndex]" [alt]="selectedProduct.name" />
      <div class="modal-thumbnails">
        <img *ngFor="let img of selectedProduct.images; let idx = index" [src]="img"
          [alt]="selectedProduct.name + ' thumbnail ' + (idx+1)" [class.selected-thumb]="selectedImageIndex === idx"
          (click)="selectedImageIndex = idx" />
      </div>
    </div>
    <div class="modal-details">
      <h3>{{ selectedProduct.name }} - {{ selectedProduct.size }}</h3>
      <div class="modal-description">
        <div>Sku#: {{ selectedProduct.sku }}</div> 
        <div>{{ selectedProduct.name }}</div> 
        <div>{{ selectedProduct.inStock ? 'In Stock' : 'Out of Stock' }}</div> 
      </div>
      <div class="product-pricing modal-pricing">
        <label class="price-label">Rs {{ selectedProduct.price | number }}</label>
        <!-- <span class="old" *ngIf="selectedProduct.old">{{ selectedProduct.old }}</span> -->
      </div>
      <div class="modal-qty">
        <span for="qty-available">QTY:</span>
        <div class="qty-controls">
          <button (click)="decrementQuantity()" class="qty-btn">-</button>
          <input type="number" id="quantity" [(ngModel)]="quantity" min="1" [max]="selectedProduct.availableQty || 10"
            readonly />
          <button (click)="incrementQuantity()" class="qty-btn">+</button>
        </div>
        <span class="qty-available" *ngIf="selectedProduct.availableQty">Available: {{ selectedProduct.availableQty}}</span>
      </div>
      <button class="add-to-bag-modal" (click)="$event.stopPropagation(); addToCart(selectedProduct)">Add to Cart</button>
      
      <p class="more-details-btn" (click)="showNotes = !showNotes">
        {{ showNotes ? 'Hide Details' : 'More Details' }}
        <i class="fa-solid" [class.fa-chevron-down]="!showNotes" [class.fa-chevron-up]="showNotes"></i>
      </p>

      <div class="modal-notes" [class.show]="showNotes">
        <p class="red" style="color: red;">(!) Fragrances and perfumes are not shipped internationally due to the courier and airline DG policy.</p>
      <div class="modal-shipping">
        <strong>Category:</strong> {{ selectedProduct.category }}
      </div>
      <div class="modal-delivery">
        <strong>Main Accords:</strong> {{ selectedProduct.accords }}
      </div>
      <div class="modal-payment">
        <strong>Size:</strong>  {{ selectedProduct.size}} Bottle
      </div>
      </div>
    </div>
  </div>
</div>